body {
  background: #3e5060;
  font-family: sans-serif;
  color: #344350;
}

.container {
  max-width: 600px;
  margin: 50px auto;
  background: #faf874;
  padding: 30px;
  box-shadow: 0px 7px 29px 0px rgba(100, 100, 111, 0.2);
  border-radius: 10px;
}

h1 {
  text-align: center;
  font-size: 36px;
}

select {
  background: #faf8a5;
  color: #344350;
  display: block;
  width: 100%;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  font-size: 18px;
}

.cities {
  display: flex;
  margin: 20px 0;
  justify-content: space-between;
  padding: 30px 0;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.15);
}

.cities:last-child {
  border: none;
}

h2 {
  margin: 0 0 10px;
  font-size: 28px;
}

.date {
  opacity: 0.6;
}

.time {
  font-size: 48px;
  font-weight: bold;
}

.time small {
  font-size: 28px;
  font-weight: 400;
  vertical-align: middle;
  line-height: 38px;
}

a {
  color: #faf8a5;
  opacity: 0.7;
}

footer {
  text-align: center;
  font-size: 14px;
  color: #faf8a5;
  opacity: 0.7;
}
